.singleDoc {
    background-color: rgb(22, 32, 48);
    /* margin-top: 70px; */
    /* margin-bottom: 70px; */
    border-radius: 2px;
    width: 600px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    
    /* margin: auto; */
}

.docTitle {
    font-size: 20px;
    color: rgb(140, 149, 156);
    font-weight: 700;
    /* border-bottom: 1px solid gray;
    width: 100%; */
    padding: 4px;
    text-transform: uppercase;
    font-style: italic;
}

.docPara {
    font-size: 16px;
    font-weight: 200;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

ul {
    list-style: none;
    display: flex;
}

li > span {
   background-color: rgb(25, 54, 54);
   color: rgb(187, 195, 175);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 12px;
   padding: 4px;
   margin-left: 10px;
}

li > span:hover {
    background-color: rgb(213, 223, 223);
    color: black;
}

.readMore {
    background-color: orange;
    color: whitesmoke;
    font-weight: 600;
    margin-left: 10px;
    margin-top: 10px;
    padding: 4px;
}