.vbackground {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url("../../assests/img1.jpg");
  background-position: center;
  background-size: cover;
  /* animation: mover 5s 1s infinite; */
}

.searchheading {
  font-size: 40px;
  align-items: center;
  font-weight: 800;
  color: whitesmoke;
}


.bimage {
  
  transition: all 5s ease-in;
  height: 400px;
  width: 100vw;
  position: absolute;
}

.searchMain {
}

@keyframes mover {
  0% {
    scale: 1;
    opacity: 1;
  }

  50% {
    scale: 1.25;
    opacity: 0.75;
  }

  100% {
    scale: 1;
    opacity: 1;
  }
}
